@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
}

a{
  color: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root
{
  position: relative;
  width: 100%;
  border: none;
}

/* sources https://unsplash.com/photos/c9OCWLka764 */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('imgs/renato-ramos-puma-37WxvlfW3to-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overscroll-behavior-y: contain;
}

.wrapper
{
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: contain;

}

.wrapper::-webkit-scrollbar
{
  display: none;
}


.container { 
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  min-height: 450px;
  border: 1px solid steelblue;
  padding: 50px 80px;
  border-radius: 5px;
  background-color: #0c0c0ca4;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px auto;
}

.btn {
  display: inline-block;
  background: #050505;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f431;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.image{
  height: auto;
  width: auto;
  max-width: 50%;
  min-width: 50%;
}

h1,h3,p,label {
  color: whitesmoke;
}


.logo {
  color: white;
  font-family: Sail;
}

img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* .bplanet {
  background-image: url("imgs/IMG_7847.PNG");
  height: 100px;
  width: 100px;
  
} */


h1{
  padding: 1vh;
}

input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#logo{
  max-height: 100px;
}

.flexIndex
{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flexHeader
{
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border: none;
  padding: 40px 0px;
}

.flexFooter
{
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border: none;
  padding: 40px 0px;

}

.home
{
  padding: 0px;
  margin: 0px;
}

.flexMenu
{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px auto 0 auto;
  padding: 0px;

  
}

.flexMenu a
{
  max-width: 200px;
  margin: 10px;
}

.flexPlan
{
  display: flex;
  justify-content: space-between;
}

.myplans
{
  min-height: 250px;
  max-height: 1040px;
  margin: 0px;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
}

.myplans::-webkit-scrollbar
{
  display: none;
}

.plan
{
  min-height: 800px;
  width: 100%;
  color:white;
  border: 2px solid #4682B4;
  margin: 0px auto;
  text-align: center;
  padding: 30px 0px 0px 0px;
  background-color: #050505a4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planT
{
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.save
{
  align-self: flex-end;
  margin-bottom: 20px;
  
}

.select
{
  max-width: 200px;
}

.workouts
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.workout::-webkit-scrollbar
{
  display: none;
}


.workout
{
  min-width: 300px;
  color:white;
  border: 2px solid #4682B4;
  margin: 0px auto;
  padding: 20px 20px 0px 20px;
  background-color: #050505a4;
  list-style: none;
  overflow-y:scroll;
  height: 360px;
  

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.f2, .f3
{
  align-self: center;
}

h2
{
  font-style: italic;
  color: white;
}

.df
{
  margin: 8px;
}

.toggle
{
  display: flex;
  flex-direction: row;
}

.toggle a
{
  align-self: center;
  margin-left: 10px;
}

.flexLikes
{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

@media screen and (max-width: 767px)
{
  .planT
  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

  .container
  {
    font-size: larger;
  }


  .flexMenu
  {
    flex-direction: column;
    align-items: center;

  }

  .flexMenu a
  {

    text-align: center;
    font-size: larger;
    
  }

}






















.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 10px auto;
  padding: 0;

  width: 80%;
  text-align: center;
  
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 10px 12px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.react-tabs__tab--selected {
  background: #0c0c0c;
  border-color: #aaa;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}



.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}


