@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
}

a{
  color: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* sources https://unsplash.com/photos/c9OCWLka764 */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('imgs/renato-ramos-puma-37WxvlfW3to-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  overflow: auto;
  min-height: 450px;
  border: 1px solid steelblue;
  padding: 50px 80px;
  border-radius: 5px;
  background-color: #0c0c0ca4;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px auto;
}

.btn {
  display: inline-block;
  background: #050505;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f431;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.image{
  height: auto;
  width: auto;
  max-width: 50%;
  min-width: 50%;
}

h1,h3,p,label {
  color: whitesmoke;
}


.logo {
  color: white;
  font-family: Sail;
}

img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* .bplanet {
  background-image: url("imgs/IMG_7847.PNG");
  height: 100px;
  width: 100px;
  
} */

.background-fullviewport{
  right: -50vh;
  width: 100vh;
  padding: 20px;
  height: 0;

}

h1{
  padding: 1vh;
}

input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#logo{
  max-height: 100px;
}

.flexIndex
{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flexHeader
{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border: none;
}

.flexFooter
{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: none;

}

.home
{
  padding: 0px;
  margin: 0px;
}

.flexMenu
{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  width: 600px;
  margin: 40px auto 0 auto;
  padding: 0px;

  
}

.flexMenu a
{
  width: 200px;
  margin: 10px;
}

.myplans
{
  position: relative;
  min-height: 250px;
  max-height: 800px;
  margin: 0px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
  scroll-snap-type:y mandatory;
}

.myplans::-webkit-scrollbar
{
  display: none;
}

.plan
{
  min-height: 800px;
  width: 800px;
  color:white;
  border: 2px solid #4682B4;
  margin: 0px auto;
  text-align: center;
  padding: 30px 80px 0px 80px;
  background-color: #050505a4;
  scroll-snap-align: start;
}

.planT
{
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.workouts
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.workout::-webkit-scrollbar
{
  display: none;
}


.workout
{
  width: 300px;
  color:white;
  border: 2px solid #4682B4;
  margin: 0px auto;
  text-align: center;
  padding: 40px 80px 0px 80px;
  background-color: #050505a4;
  list-style: none;
  overflow-y:scroll;
  height: 360px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.f2, .f3
{
  align-self: center;
}

h2
{
  font-style: italic;
  color: white;
}

.toggle
{
  display: flex;
  flex-direction: row;
}

.toggle a
{
  align-self: center;
  margin-left: 10px;
}

.flexLikes
{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  
}


